
#entries_list {
    display: flex;
    gap: 16px;
    padding: 32px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.entries_entryContainer {
    background: var(--color_bg2);
    border: solid 1px var(--color_bg1);
    box-shadow: 0 2px 6px #0005;
    width: 500px;
    height: 250px;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 32px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
    transition: 0.2s ease;
}

.entries_entryContainer:hover {
    background: var(--color_bg1);
    border: solid 1px var(--color_bg1);
    box-shadow: 0 8px 12px #0004;
}

.entries_entryContainer .row {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.entries_entryContainer .row button {
    flex-grow: 1;
}

.fab {
    position: fixed;
    bottom: 32px;
    right: 32px;
    height: 64px;
    width: 64px;
    background: var(--color_accent1);
    border-radius: 6px;
    box-shadow: 0 2px 6px #0005;
    transition: 0.2s ease;
}

.fab:hover {
    background: var(--color_accent2);
    box-shadow: 0 8px 12px #0004;
}

.fabIcon {
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 56px;
    display: block;
    cursor: default;
}
