
.xSelect {
    border: solid 1px grey;
    border-radius: 6px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px;
    background-color: white;
    max-height: 300px;
    overflow: auto;
}

.xSelect div {
    border-radius: 6px;
    background: #fff5ee;
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.xSelect div.selected {
    background: #f4c4a4;
}


#newEntry_container {
    display: flex;
    width: 100%;
    gap: 12px;
}

#newEntry_left {
    flex-grow: 1;
}

#newEntry_right {
    padding: 16px;
    background: #fff5ee;
    width: 300px;
    border-radius: 6px;
    flex-shrink: 0;
}

#newEntry_tableGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
}

.tableCard {
    background: var(--color_bg2);
    padding: 12px;
    border-radius: 6px;
    transition: 0.2s ease;
    user-select: none;
}

.tableCard:hover {
    background: var(--color_bg2);
    box-shadow: 0 4px 8px #0004;
}

.tableCard.selected {
    background: var(--color_bg1);
    box-shadow: 0 4px 8px #0004;
}

#newEntry_tableGrid .tableCard[data-tableid="1"] {
    grid-column: 1;
    grid-row: 1;
}
#newEntry_tableGrid .tableCard[data-tableid="2"] {
    grid-column: 1;
    grid-row: 2;
}
#newEntry_tableGrid .tableCard[data-tableid="3"] {
    grid-column: 2;
    grid-row: 1;
}
#newEntry_tableGrid .tableCard[data-tableid="4"] {
    grid-column: 3;
    grid-row: 1;
}
#newEntry_tableGrid .tableCard[data-tableid="5"] {
    grid-column: 4;
    grid-row: 1;
}
#newEntry_tableGrid .tableCard[data-tableid="6"] {
    grid-column: 4;
    grid-row: 2;
}
#newEntry_tableGrid .tableCard[data-tableid="7"] {
    grid-column: 4;
    grid-row: 3;
}
#newEntry_tableGrid .tableCard[data-tableid="8"] {
    grid-column: 5;
    grid-row: 1 / 4;
}
#newEntry_tableGrid .tableGridDecoration {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#newEntry_tableGrid .tableGridDecoration .tableGridDecorationInner {
    background: var(--color_bg2);
    width: calc(100% - 48px);
    height: calc(100% - 48px);
}

#newEntry_cuisineList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.cuisineCard {
    display: flex;
    background: var(--color_bg2);
    padding: 16px;
    border-radius: 6px;
    flex-direction: column;
    flex-grow: 1;
    transition: 0.2s ease;
    user-select: none;
}

.cuisineCard h3 {
    white-space: pre-line;
}

.cuisineCard:hover {
    background: var(--color_bg2);
    box-shadow: 0 4px 8px #0004;
}

.cuisineCard.selected {
    background: var(--color_bg1);
    box-shadow: 0 4px 8px #0004;
}

input, select {
    padding: 16px;
    font-size: 16px;
    border-radius: 6px;
    background: white;
    border: solid 1px grey;
    outline: none;
    color: black;
}