
@media (max-width: 1100px) {
    #newEntry_container {
        flex-direction: column-reverse;
        width: auto;
        overflow: auto !important;
    }
    #newEntry_right {
        width: 100% !important;
        height: fit-content !important;
    }
    #newEntry_left {
        width: 100% !important;
        height: fit-content !important;
    }
}

@media (max-width: 900px) {
    #newEntry_tableGrid {
        display: flex !important;
        flex-direction: column;
    }
    .tableGridDecoration {
        display: none;
    }
}

#mainContent {
    height: calc(100% - 64px);
}

#newEntry_container {
    display: flex;
    width: 100%;
    gap: 12px;
    height: 100%;
    box-sizing: border-box;
    padding: 16px;
    overflow: hidden;
}

#newEntry_left {
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

#newEntry_right {
    padding: 16px;
    background: var(--color_bg2);
    width: 300px;
    border-radius: 6px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    height: 100%;
    box-sizing: border-box;
}

#newEntry_right button {
    width: 100%;
}

#newEntry_tableGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
}

.tableCard {
    background: var(--color_bg2);
    padding: 12px;
    border-radius: 6px;
    transition: 0.2s ease;
    user-select: none;
}

.tableCard[disabled="true"] {
    background: #ddd;
    pointer-events: none;
}

.tableCard:hover {
    background: var(--color_bg2);
    box-shadow: 0 4px 8px #0004;
}

.tableCard.selected {
    background: var(--color_bg1);
    box-shadow: 0 4px 8px #0004;
}

#newEntry_tableGrid .tableCard[data-tableid="1"] {
    grid-column: 1;
    grid-row: 1;
}
#newEntry_tableGrid .tableCard[data-tableid="2"] {
    grid-column: 1;
    grid-row: 2;
}
#newEntry_tableGrid .tableCard[data-tableid="3"] {
    grid-column: 2;
    grid-row: 1;
}
#newEntry_tableGrid .tableCard[data-tableid="4"] {
    grid-column: 3;
    grid-row: 1;
}
#newEntry_tableGrid .tableCard[data-tableid="5"] {
    grid-column: 4;
    grid-row: 1;
}
#newEntry_tableGrid .tableCard[data-tableid="6"] {
    grid-column: 4;
    grid-row: 2;
}
#newEntry_tableGrid .tableCard[data-tableid="7"] {
    grid-column: 4;
    grid-row: 3;
}
#newEntry_tableGrid .tableCard[data-tableid="8"] {
    grid-column: 5;
    grid-row: 1 / 4;
}
#newEntry_tableGrid .tableGridDecoration {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#newEntry_tableGrid .tableGridDecoration .tableGridDecorationInner {
    background: var(--color_bg2);
    width: calc(100% - 48px);
    height: calc(100% - 48px);
}

#newEntry_cuisineList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.cuisineCard {
    display: flex;
    background: var(--color_bg2);
    padding: 16px;
    border-radius: 6px;
    flex-direction: column;
    flex-grow: 1;
    transition: 0.2s ease;
    user-select: none;
}

.cuisineCard h3 {
    white-space: pre-line;
}

.cuisineCard:hover {
    background: var(--color_bg2);
    box-shadow: 0 4px 8px #0004;
}

.cuisineCard.selected {
    background: var(--color_bg1);
    box-shadow: 0 4px 8px #0004;
}

input, select {
    padding: 16px;
    font-size: 18px;
    border-radius: 6px;
    background: white;
    border: solid 1px grey;
    outline: none;
    color: black;
    font-family: "Segoe UI";
}

#newEntry_right h4 {
    margin: 8px;
}

