
* {
    --color_bg2: #fff5ee;
    --color_bg1: #ffeddf;
    --color_accent1: coral;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Trebuchet MS';
    font-size: 1.3em;
}

header {
    height: 64px;
    background: white;
    border-bottom: solid 1px grey;
    box-sizing: border-box;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #headerLogo {
    color: var(--color_accent1);
    font-weight: bold;
    font-family: 'Trebuchet MS';
    font-size: 1.6em;
}

header #headerAccountButton {
    border-radius: 50%;
    background: var(--color_accent1);
    width: 42px;
    height: 42px;
}

button {
    background: var(--color_accent1);
    border: solid 1px #f87140;
    border-radius: 6px;
    min-height: 32px;
    font-family: 'Trebuchet MS';
    color: #45270e;
    font-size: 0.8em;
    padding: 8px 16px;
}

#accountMenu {
    display: flex;
    position: absolute;
    right: 16px;
    top: 72px;
    z-index: 10;
    background-color: white;
    box-shadow: 0 4px 8px #0004;
    border-radius: 6px;
    width: 200px;
    padding: 16px;
    transition: 0.2s ease;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

body.accountMenuVisible #accountMenu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}