<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_desktop.css') }}">
        <title>eRestaurant</title>
    </head>
    <body>
        <div id="accountMenu">
            <h3>{{ namesurname }}</h3>
            <button>Выйти</button>
        </div>
        <header>
            <div id="headerLogo"><a href="/">eRestaurant</a></div>
            <div id="headerAccountButton"></div>
        </header>
        <div id="mainContent">
            {% block content %} {% endblock %}
        </div>
    </body>
    <script src="{{ url_for('static', filename= 'js/script_base.js') }}"></script>
</html>