{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_entries.css') }}">
<div id="entries_list">
    {% for entry in entries %}
    <div class="entries_entryContainer" data-timestart="{{ entry['TimeStart'] }}" data-timeend="{{ entry['TimeEnd'] }}" >
        <div class="row">
            <div>Дата</div>
            <div class="entries_entryDate">{{ entry['TimeStart'] }} - {{ entry['TimeEnd'] }}</div>
        </div>
        <div class="row">
            <div>Время</div>
            <div class="entries_entryTime">{{ entry['TimeStart'] }} - {{ entry['TimeEnd'] }}</div>
        </div>
        <div class="row">
            <div>Место</div>
            <div class="entries_entryTable">Столик {{ entry['TableID'] }} ({{ entry['PeopleCount'] }} чел.)</div>
        </div>
        <div class="row">
            <button>Изменить</button>
            <button>Удалить</button>
        </div>
    </div>
    {% endfor %}
</div>
<div class="fab">
    <a href="/new" class="fabIcon">+</a>
</div>
<script src="{{ url_for('static', filename= 'js/script_entries.js') }}"></script>
{% endblock %}