{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_new.css') }}">
<div id="newEntry_container">
    <div id="newEntry_left">
        <h1>Столики</h1>
        <div id="newEntry_tableGrid">
            <div class="tableGridDecoration">
                <div class="tableGridDecorationInner"></div>
            </div>
            {% for table in tables %}
            <div class="tableCard" data-tableid="{{ table['ID'] }}">
                <h2>Столик {{ table['ID'] }}</h2>
                <h3>Мест: {{ table['Seats'] }}</h3>
            </div>
            {% endfor %}
        </div>
        <h1>Кухни</h1>
        <div id="newEntry_cuisineList">
            {% for cuisine in cuisines %}
            <div class="cuisineCard" data-cuisineid="{{ cuisine['ID'] }}">
                <h2>{{ cuisine['Name'] }}</h2>
                <h3>{{ cuisine['Description'] }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="newEntry_right">
        <div class="inputContainer">
            <h4>Дата</h4>
            <input type="date" id="dateInput" value="{{minDate}}" min="{{minDate}}" max="{{maxDate}}">
        </div>
        <div class="inputContainer">
            <h4>Начало</h4>
            <select name="timeInput_start" id="timeInput_start"></select>
        </div>
        <div class="inputContainer">
            <h4>Окончание</h4>
            <select name="timeInput_end" id="timeInput_end"></select>
        </div>
        <div class="inputContainer">
            <h4>Кол-во человек</h4>
            <input type="number" min="1" max="16" id="peopleCountInput"></input>
        </div>
        <button id="newEntry_submitButton">Создать запись</button>
    </div>
</div>
<script src="{{ url_for('static', filename= 'js/script_new.js') }}"></script>
{% endblock %}